img.rightlogo {
    padding-top: 5px;
}
div#python-for-fun h1 {
    font-size: xx-large;
    font-weight: bold;
}
div#purpose-of-this-collection {
    background-color: #FDFDDA;
    border: 1px solid #000000;
    padding: 0% 5% 3% 5%;
    margin-top: 11%;
}
div#the-collection {
    background-color: #FDFDDA;
    border: 1px solid #000000;
    padding: 0% 5% 3% 5%;
    margin-top: 25px;
}
div#the-collection h2 {
    font-size: x-large;
    font-weight: bold;
}
div#purpose-of-this-collection img.pslytherin {
    float: right;
    position: relative;
    top: -605px;
    right: -135px;
}
